.container-wrap{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.post-date{
	background:#f4f4f4;
	padding:4px;
	margin:3px 0;
	display:block;
}
.post-title{
	font-size: 20px;
	font-weight: bold;
}
.post-body{
	margin-top: 18px;
}

.post-thumb{
	width:100%;
	min-height: 240px;
	min-width: 240px;
	object-fit: cover;
}
.wrapper-enclosure, .wrapper-enclosure-login{
	position: relative;
	margin: 0 auto;
}

.wrapper-enclosure{
	max-width: calc(850px - 2rem);
}

.wrapper-enclosure-login{
	max-width: calc(700px - 1.5rem);
}
.post-image{
	margin-top: 1rem;
	width: 100%;
	height: auto;
	max-width: 100%;
	max-height: 500px;
}

.pagination-links{
	margin:30px 0;
}

.pagination-links strong{
	padding: 8px 13px;
	margin:5px;
	background: #f4f4f4;
	border: 1px #ccc solid;
}

a.pagination-link{
	padding: 8px 13px;
	margin:5px;
	background: #f4f4f4;
	border: 1px #ccc solid;
}

.cat-delete{
	display:inline;
}